{% extends 'base.html'%}

  {% block content%}
  <div class="container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group m-2">
          <div class="form-outline m-4">
            {{form.comment(class="form-control form-outline")}}
            {{form.comment.label(class="form-label")}}
             
             
           
         </div>
        </fieldset>
        <div class="form-group m-4">
          {{form.submit(class="btn btn-info btn-rounded text-center")}}
         
      </div>
      </form>
    </div>

  {% endblock %}