{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Pitch app</title>
    {% endif %}
</head>

<body>
  
  {% block content %}
    <div class="container" style="background-image: url('https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');background-repeat: no-repeat;background-attachment: fixed;background-size: cover">
      <div class="row" id="intro" >
        <h2 style="text-align:center;font-size: 400%;color:rgb(19, 11, 39);">WELCOME TO ONE-MINUTE PITCH</h2>
        <h4 style="text-align:center;font-size: 200%;color:rgb(19, 11, 39);padding-top: 10px;">WHERE 60 SECONDS CAN CHANGE YOUR LIFE</h4>
      <div class="row" id="About">
        <h3 style="text-align:center;font-size: 200%;color:rgb(19, 11, 39);">About us</h3>
        <p style="text-align:center;font-size: 150%;color:rgb(19, 11, 39);">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful? </p>
        <p style="text-align:center;font-size: 150%;color:rgb(19, 11, 39);">OneMinute Pitch helps you make every second count. With Pitches from various people in different categories, It allows you to expand your Ideas.</p>
      </div>

    
      </div>
    </div>
  {% endblock %}
</body>
</html>