{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Pitch app</title>
    {% endif %}
</head>
<body>
  {% block content %}
    <div class="container-fluid">
      <div class="row" id="intro">
        <h2>WELCOME TO ONE-MINUTE PITCH</h2>
        <h4>WHERE 60 SECONDS CAN CHANGE YOUR LIFE</h4>

    
      </div>
    </div>
  {% endblock %}
</body>
</html>